if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi
use flake

export BASIC_USERNAME=elmar
export BASIC_SECRET=secret
export API_KEY=secret
export DYNAMIC_ZONE=dyn.athmer.org
export API_ENDPOINT=http://localhost:8081