[defaults]
inventory = hosts.ini
nocows=1

gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible-cache
fact_caching_timeout = 86400
retry_files_enabled = False

# add a script that prints the vault-pass to stdout
vault_password_file = ~/bin/ansible-vault-pass.sh
